html, body {
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    margin: 0;
}

/* supports checks whether the user browswer supports this */
@supports (grid-area:auto) {
    .site {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        /* blue-heading navbar dashboard announcements main banner empty footer */
        grid-auto-flow:row;
        grid-template-rows: 40px 120px 110px 70px 960px 200px 60px 60px;
        grid-template-areas: 
        'hd hd hd hd'
        'nv nv nv nv'
        'blank dash dash blank'
        'blank section section blank'
        'side main main main'
        'blank banner banner blank'
        'empty empty empty empty'
        'footer footer footer footer'
    }

    /* very top header */
    .header {
        grid-column: 1/12;
        /* grid-column: hd; */
        background: rgb(33, 132, 232);
    }

    /* flexbox for heading items at the very top */
    .heading-items {
        color: white;
        display: flex;
        flex-direction: row;
        float: right;
        /* justify-content: right; */
        padding: 0.6em;
        margin-right: 5%;
    }

    .heading-items div {
        padding-left: 0.5em;
        padding-right: 0.5em; 
    }

    .heading-hover:hover {
        transform: scale(1.1);
    }

    /* adding the line in between menu headings */
    .heading-items span {
        border-right: 2px solid rgb(28, 133, 216);
        padding-right: 0.5em; 
    }

    .heading-items div:nth-child(2) {
        border-right: 2px solid rgb(28, 133, 216);
    }

    /* navigation menu for icons */
    .nav-bar {
        position: relative;
        grid-column: 1/12;
        /* grid-column: nv; */
        background: url(../img/Menu_Background.png) bottom no-repeat;
        background-size: cover;
    }

    .nav-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 39%;
        margin-top: 1.6em;
        margin-left: auto;
        margin-right: auto;
    }

    .marker {
        width: 39%;
        margin-left: auto;
        margin-right: auto;
    }

    /* dashboard section */
    /* flexbox for dashboard heading and search bar */
    .dash {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        grid-column: 2/11;
        /* grid-column: dash; */
        background: rgb(51, 204, 102);
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 0.2em;
        color: white;
    }

    .dash p {
        font-size: 2em;
    }

    .dash div:first-child {
        padding-left: 1em;
    }

    /* dashboard search bar  */
    .search-bar {
        display: flex;
        align-items: center;
        width: 16.125em;
        height: 2em;
        background: rgb(244, 244, 244);
        border: 1px solid rgb(45, 181, 91);
        border-radius: 0.2em;
        margin-right: 1em;
    }

    .search-bar img {
        float: right;
        padding-right: 0.4em;
    }

    .search {
        width: 90%;
        background: rgb(244, 244, 244);
        border: none;
    }

    .search:focus {
        outline: none;
    }

    /* announcements section */
    /* .background-shade {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 16.2em;
    }

    .background-shade img {
        width: 82em;
        max-width: none;
    } */

    #background-shade {
        position: absolute;
        width: 104%;
        left: -2%;
        top: -45%;
        z-index: -10;
    }

    .top {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-column: 2/11;
        /* grid-column: top; */
        margin-top: 1.5em;
        background: rgb(255, 255, 255);
    }

    .top div:nth-child(2), .top div:nth-child(3), .top div:last-child {
        z-index: 12;
    }

    .button-nav {
        padding: 1em 0em 1em 0em;
    }

    .button-nav:first-child {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .button-nav:last-child {
        margin-right: 0.5em;
        padding: 0.5em;
    }

    .button-nav:hover {
        transform: scale(1.1);
    }

    /* flexbox for announcements section  */
    .top div:nth-child(2), .top div:nth-child(3), .top div:last-child {
       display: flex;
       flex-basis: auto;
       flex-grow: 1;
       align-items: center;
       border: 1px solid rgb(233, 233, 233);
    }

    .top div:nth-child(2) {
        flex: 1;
        color: rgb(254, 127, 19);
        padding: 1.5em 2.5em 1.5em 1.5em;
    }

    .top div:nth-child(3) {
        flex: 17;
        padding: 1.5em 2.5em 1.5em 1.5em;
    }

    .top div:last-child {
        flex: 1;
    }

    /* font and size for tasks and recommendations sections */
    .blue {
        color: rgb(36, 152, 244);
    }

    .blue-heading {
        float: left;
        font-size: 2em;
        padding: 0.5em 0.5em 0.2em 0.5em;
    }

    /* side bar holds tasks and recommendations */
    /* flexbox for tasks and recommendations */
    .side-bar {
        display: flex;
        flex-direction: column;
        text-align: left;
        grid-column: 2/5;
        /* grid-column: side; */
        background: rgb(255, 255, 255);
        border: 1px solid rgb(233, 233, 233);  
        z-index: 13;
    }

    /* flexbox within task section to keep tasks in rows */
    .flex-task {
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
    }

    .task-heading img {
        margin-left: auto;
        float: right;
        align-items: center;
        padding: 1.7em 1em 1em 1em;
    }

    .tasks {
        font-size: 1.2em;
        display: flex;
        flex-direction: row;
        padding: 0.8em 1em 0.3em 0.7em;
        border-bottom: 1px solid rgb(233, 233, 233);
    }

    .tasks div:nth-child(2) {
        padding: 0em 1.5em 0em 0.6em;
    }

    .tasks div:last-child {
        margin-left: auto;
        float: right;
    }

    /* color to grayscale when hovering over tasks and recommendations */
    .tasks:hover, .recommendations:hover {
        filter: grayscale(100);
        color: rgb(204, 204, 204);
    }

    /* flexbox within recommendations section to keep recommendations in rows */
    .flex-recommendation {
        display: flex;
        flex-direction: column;
        /* padding: 1em 0em 1em 1em; */
    }   
    
    .recommendations {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgb(233, 233, 233);
        padding: 1em;
        color: rgb(119, 119, 119);
    }

    .recommendations img {
        margin-right: 1em;
    }

    .recommendations div {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .recommendations:hover {
        color: rgb(0, 0, 0);
    }

    .small-title {
        font-size: 0.7em;
    }

    /* main holds analytics, contacts, and did you know column */
    /* flexbox for sections within main */
    .main {
        display: flex;
        flex-direction: column;
        grid-column: 5/11;
        /* grid-column: main; */
        background: rgb(255, 255, 255);
        border: 1px solid rgb(233, 233, 233);
        z-index: 14;
    }

    .main .blue-heading {
        padding: 0.7em 0em 0em 1.5em;
    }

    /* flexbox box for whole analytics section to keep divs structured in columns */
    /* analytics to keep chart and graph side by side */
    .analytics-box {
        width: 76%;
        padding-right: 1em;
        margin-right: 1em;
        border-right: 1px solid rgb(233, 233, 233);
        box-shadow: 3px 0px 0px 0px rgba(238,238,238,1);
    }

    /* social media checklist */
    .form-checkbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2em;
    }

    .checkbox {
        display: flex;
        flex-direction: row;
        padding-left: 1em;
    } 

    .checkbox input[type=checkbox] {
        display:none;
    }
    
    .checkbox input[type=checkbox] + label {
        width: 2em;
        background: url(../img/Form_\ Checkbox.png) no-repeat center;
    }

    .checkbox input[type=checkbox]:checked + label {
        background: url(../img/Checkmarked.png) no-repeat center;
    }
    
    /* activity section to keep activity heading and dropdown box in one row */
    .activity {
        padding: 1em 1em 2em 2em;
        float: right;
    }

    .activity span {
        color: rgb(153, 153, 153);
        margin-left: 2.3em;
    }

    /* activity graph dropdown properties */
    select {
        -webkit-appearance:none;
        outline: none;
    }

    select:active, select:hover {
        outline: none;
        outline-color: transparent;
      }

    select option {
        background: rgb(245, 245, 245);
    }

    select option:hover {
        background-color: transparent;
    }
    
    .dropdown {
        color: rgb(102, 102, 102);
        width: 14em;
        height: 3em;
        margin-left: auto;
        float: right;
        border: 1px solid rgb(233, 233, 233);
        /* background: url(../img/dropdown_arrow.png) no-repeat right; */
    }

    /*  charts section within analytics box */
    .charts {
        display: flex;
        flex-direction: column;
        color: rgb(153, 153, 153);
        padding: 0.5em;
        margin-left: 1em;
    }

    .analytics-box img {
        margin-left: 3em;
        min-width: 90%;
        width: 90%;
    }

    /* flexbox directions for the analytics flex divs */
    .analytics-box, .charts {
        display: flex; 
        flex-direction: column;
    }

    .activity, .flex-charts {
        display: flex;
        flex-direction: row;
    }

    .charts img {
        margin-bottom: 1em;
    }

    .charts span {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    /* contacts and customers section */

    .flex-main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid rgb(233, 233, 233);
        padding: 3em 2em 3em 2em;
    }

    .people-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 15em;
        height: 14em;
        box-shadow: 0px 0px 5px 0px rgba(217,217,217,1);
        border-radius: 0.2em;
    }

    /* grayscale for people and social media */
    .people-box:hover, .social-media:hover {
        filter: grayscale(100);
    }

    .avatar {
        margin-left: auto;
        margin-right: auto;
        margin-top: -2.5em;
        width: 6em;
    }

    .ribbon {
        color: rgb(255, 255, 255);
        text-align: center;
        display: flex;
        flex-direction: column;
        background: url(../img/blue_ribbon.png) no-repeat center;
        padding: 1em 1em 1em 1em;
        margin-top: -1em;
        position: relative;
        overflow: visible;
    }

    .box-charts {
        height: 6em;
        padding: 0.5em 0.6em 0.5em 0.6em;
    }

    /* did you know section */
    .did-you-know {
        display: flex;
        flex-direction: column;
        padding: 2em;
    }

    .dyk-layer {
        background: url(../img/DYK_Navigation.png) no-repeat center;
        background-color: rgb(36, 152, 244);
        background-size: contain;
        border-radius: 0.3em;
        padding: 1em;
    }

    .dyk-layer div {
        color: rgb(255, 255, 255);
        border-radius: 0.3em;
        width: 70%;
        padding: 1em 1em 1em 2em;
    }

    .dyk-layer div span:last-child {
        font-size: 1.2em;
    }

    .banner {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        grid-column: 2/11;
        /* grid-column: banner; */
        padding: 1em;
        background: rgb(36, 152, 244);
    }

    .banner-box {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 28%;
        background: rgb(255, 255, 255);
        border-radius: 0.3em;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
    }

    .word-box {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        /* padding: 2.3em 1em 0.5em 1em; */
    }

    .banner-box:first-child {
        text-align: right;
    }

    .banner-box:last-child {
        text-align: left;
    }

    #green {
        color: rgb(51, 204, 102);
    }

    .orange {
        color: rgb(254, 127, 19);
    }

    .green-block {
        position: absolute;
        left: 3%;
        top: 40%;
        width: 80%;
        text-align: center;
        padding: 0.5em 1.5em 0.5em 1.5em;
        background: rgb(51, 204, 102);
        color: rgb(255, 255, 255);
        border-radius: 0.2em;
    }

    .people {
        width: auto;
        height: auto;
        margin-top: -0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
    }

    .banner-box:last-child img {
        float: right;
    }

    /* gives space between banner and footer */
    .empty-row {
        grid-column: 1/12;
        /* grid-column: empty; */
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-column: 1/12;
        /* grid-column: footer; */
        background: rgb(247, 247, 247);
        box-shadow: 0px 0px 0px 0px rgba(217,217,217,1);
    }

    .bold {
        font-weight: bolder;
    }

    .footer-text {
        display: flex;
        flex-direction: row;
        color: rgb(153, 153, 153);
    }

    .footer-text span {
        padding-left: 1em;
        padding-right: 1em;
    }

    .footer-text span:first-child {
        border-right: 1px solid rgb(221, 221, 221);
    }

    .footer-text span:nth-child(2) {
        border-right: 1px solid rgb(221, 221, 221);
    }

    .footer-notif {
        border-left: 1px solid rgb(221, 221, 221);
        border-right: 1px solid rgb(221, 221, 221);
    }

    .footer-notif span {
        margin-left: 1em;
        margin-right: 4em;
    }

    .footer-notif img {
        margin-right: 1em;
    }
      
    .profile {
        display: flex;
        align-items: center;
        border-right: 1px solid rgb(221, 221, 221);
        padding-left: 1em;
        padding-right: 1em;
    }

    .footer-media {
        padding: 1em;
        border-right: 1px solid rgb(221, 221, 221);
    }

    .underline:hover {
        text-decoration: underline;
    }

    @media only screen and (max-width: 600px) {
        .site {
            display: grid;
            grid-template-columns: 100%;
            grid-column-gap: 1em;
            /* grid-auto-flow: row; */
            /* blue-heading navbar dashboard announcements side main banner footer */
            grid-template-rows: 40px 110px 110px 25% auto auto 60px auto 20px;
            grid-template-areas: 
            'hd'
            'nv'
            'dash'
            'section'
            'side'
            'main'
            'banner'
            'footer'
        }

        .header {
            grid-column: hd;
        }

        .heading-items {
            margin-right: 0;
        }

        .heading-items div:last-child {
            padding-right: 0em;
        }

        .marker {
            width: 100%;
            position: absolute;
            margin: 0;
            bottom: 0;
        }

        .nav-bar {
            grid-column: nv;
        }

        .nav-icons {
            width: 100%;
        }

        .dash {
            grid-column: dash;
        }

        .top {
            flex-direction: column;
            grid-column: section;
        }

        .top div {
            border: none;
        }

        .top div:nth-child(2) {
            flex: 2;
        }

        .top div:last-child {
            flex: 4;
            margin-left: auto;
            margin-right: auto;
        }

        .side-bar {
            grid-column: side;
        }

        .main {
            grid-column: main;
        }

        .banner {
            grid-column: banner;
        }

        .footer {
            grid-column: footer;
        }

    }

}