html, body {
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.heading-items a:hover, .flex-task a:hover, .flex-recommendation a:hover {
    cursor: pointer;
    text-decoration: none;
}

/* supports checks whether the user browswer supports this */
@supports (grid-area:auto) {
    .site {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        /* blue-heading navbar dashboard announcements main banner empty footer */
        grid-auto-flow: row;
        /* grid-template-rows: 40px 120px 110px 70px 1080px 200px 60px 60px; */
        grid-template-rows: 40px 120px 110px 10% auto 29% 10% 50px;
        grid-template-areas: 
        'hd hd hd hd'
        'nv nv nv nv'
        'blank dash dash blank'
        'blank section section blank'
        'side main main main'
        'blank banner banner blank'
        'empty empty empty empty'
        'footer footer footer footer'
    }

    /* very top blue header */
    .header {
        grid-column: 1/12;
        /* grid-column: hd; */
        background: rgb(33, 132, 232);
    }

    /* flexbox for heading items at the very top */
    .heading-items {
        color: white;
        display: flex;
        flex-direction: row;
        float: right;
        padding: 0.6em;
        margin-right: 5%;
    }

    .heading-items div {
        padding-left: 0.5em;
        padding-right: 0.5em; 
    }

    .heading-hover:hover {
        transform: scale(1.1);
    }

    .heading-hover a:visited {
        color: white;
    }

    /* adding the line in between menu headings */
    .heading-items span {
        border-right: 2px solid rgb(28, 133, 216);
        padding-right: 0.5em; 
    }

    .heading-items div:nth-child(2) {
        border-right: 2px solid rgb(28, 133, 216);
    }

    /* navigation menu for icons */
    .nav-bar {
        position: relative;
        grid-column: 1/12;
        /* grid-column: nv; */
        background: url(../img/Menu_Background.png) bottom no-repeat;
        background-size: cover;
    }

    .nav-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 39%;
        margin-top: 2.5em;
        margin-left: auto;
        margin-right: auto;
    }

    /* shadows div */
    .marker {
        width: 45%;
        height: 8%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    /* positioning shadows right underneath icons */
    #shadows {
        width: 90%;
        left: 7%;
        bottom: -0.2em;
        position: absolute;
    }

    /* white tick mark */
    #white-marker {
        position: absolute;
        bottom: 0;
        left: 31%;
    }

    /* dashboard section */
    /* flexbox for dashboard heading and search bar */
    .dash {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        grid-column: 2/11;
        /* grid-column: dash; */
        background: rgb(51, 204, 102);
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 0.2em;
        color: white;
    }

    .dash p {
        font-size: 2em;
    }

    .dash div:first-child {
        padding-left: 1em;
    }

    /* dashboard search bar  */
    .search-bar {
        display: flex;
        align-items: center;
        width: 18%;
        height: 2em;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(45, 181, 91);
        border-radius: 0.2em;
        margin-right: 1em;
    }

    .search-bar img {
        float: right;
        padding-right: 0.4em;
    }

    .search {
        width: 90%;
        background: rgb(255, 255, 255);
        border: none;
    }

    .search:focus {
        outline: none;
    }

    /* background gradient that borders beginning of main content */
    #background-shade {
        position: absolute;
        width: 73em;
        left: -1.5em;
        top: -1.2em;
        z-index: -10;
    }

    /* announcements section (top) */
    .top {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-column: 2/11;
        /* grid-column: top; */
        margin-top: 1.5em;
        background: rgb(255, 255, 255);
    }

    /* announcements section is on top of background border */
    .top div:nth-child(2), .top div:nth-child(3), .top div:last-child {
        z-index: 12;
    }

    /* announcements buttons */
    .button-nav {
        padding: 1em 0em 1em 0em;
    }

    .button-nav:first-child {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .button-nav:last-child {
        margin-right: 0.5em;
        padding: 0.5em;
    }

    .button-nav:hover {
        transform: scale(1.1);
    }

    /* flexbox for announcements section  */
    .top div:nth-child(2), .top div:nth-child(3), .top div:last-child {
       display: flex;
       flex-basis: auto;
       flex-grow: 1;
       align-items: center;
       border: 1px solid rgb(233, 233, 233);
    }

    .top div:nth-child(2) {
        flex: 1;
        color: rgb(254, 127, 19);
        padding: 1.5em 2.5em 1.5em 1.5em;
    }

    .top div:nth-child(3) {
        flex: 17;
        padding: 1.5em 2.5em 1.5em 1.5em;
    }

    .top div:last-child {
        flex: 1;
    }

    /* font and size for tasks and recommendations sections */
    .blue {
        color: rgb(36, 152, 244);
    }

    .gray {
        color: gray;
    }

    .blue-heading {
        float: left;
        font-size: 2em;
        padding: 0.5em 0.5em 0.2em 0.5em;
    }

    .small-title {
        font-size: 0.7em;
    }

    /* side bar holds tasks and recommendations */
    .side-bar {
        display: flex;
        flex-direction: column;
        text-align: left;
        grid-column: 2/5;
        /* grid-column: side; */
        background: rgb(255, 255, 255);
        border: 1px solid rgb(233, 233, 233);  
        z-index: 13;
    }

    /* flexbox for tasks */
    /* flexbox within task section to keep tasks in rows */
    .flex-task {
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        box-shadow: inset 0 7px 9px -7px rgba(206,206,206,0.45);
    }

    /* task settings icon properties */
    .task-heading img {
        margin-left: auto;
        float: right;
        align-items: center;
        padding: 1.7em 1em 1em 1em;
    }

    .tasks {
        font-size: 1.2em;
        display: flex;
        flex-direction: row;
        padding: 0.8em 1em 0.3em 0.7em;
        border-bottom: 1px solid rgb(233, 233, 233);
    }

    .tasks div:nth-child(2) {
        padding: 0em 1.5em 0em 0.6em;
    }

    .tasks div:last-child {
        margin-left: auto;
        float: right;
    }

    /* color to grayscale when hovering over tasks and recommendations text */
    .tasks:hover, .recommendations:hover {
        filter: grayscale(90);
        color: rgb(204, 204, 204);
    }

    /* flexbox within recommendations section to keep recommendations in rows */
    .flex-recommendation {
        display: flex;
        flex-direction: column;
        box-shadow: inset 0 7px 9px -7px rgba(206,206,206,0.45);
    }   
    
    .recommendations {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgb(233, 233, 233);
        padding: 1em;
        color: rgb(119, 119, 119);
    }

    .recommendations div {
        margin-right: 1em;
    }

    .recommendations div {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .recommendations:hover {
        color: rgb(0, 0, 0);
    }

    /* main holds analytics, contacts, and did you know column */
    /* flexbox for sections within main, keeps sections stacked on top of each other */
    .main {
        display: flex;
        flex-direction: column;
        grid-column: 5/11;
        /* grid-column: main; */
        background: rgb(255, 255, 255);
        border: 1px solid rgb(233, 233, 233);
        z-index: 14;
        box-shadow: inset 0 7px 9px -7px rgba(206,206,206,0.45);
    }

    .main .blue-heading {
        padding: 0.7em 0em 0em 1.5em;
    }

    /* flexbox box for whole analytics section to keep divs structured in columns */
    /* analytics to keep activity heading and graph in one column */
    .analytics-box {
        width: 76%;
        padding-right: 1em;
        margin-right: 1em;
        border-right: 1px solid rgb(233, 233, 233);
        box-shadow: 3px 0px 0px 0px rgba(238,238,238,1);
    }

    /* activity heading properites */
    .activity {
        padding: 1em 0.5em 3em 1em;
        float: right;
    }

    .activity-word {
        color: rgb(153, 153, 153);
        margin-left: 2.3em;
    }

    /* activity graph dropdown properties */
    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: auto;
        padding: 0.5em 1em 0.5em 1em;
        border: 1px solid rgb(244, 244, 244);
        border-radius: 0.2em;
    }

    .dropdown-options {
        display: none;
        position: absolute;
        right: 0;
        background-color: rgb(250, 250, 250);
        z-index: 1;
    }

    .placeholder {
        font-size: 0.8em;
        border: none;
        cursor: pointer;
    }

    .dropdown-options a {
        display: block;
        padding: 1em;
        font-size: 0.9em;
        color:rgb(153, 153, 153);
    }

    .dropdown-options span {
        height: 3em;
        border-bottom: 1px solid rgb(244, 244, 244);
    }

    .dropdown-options a:hover {
        color: rgb(36, 152, 244);
    }

    .drop-arrow {
       margin-left: 1em;
    }

    .dropdown:hover .dropdown-options {
        display: block;
    }

    /*  charts section within analytics box */
    .charts {
        color: rgb(153, 153, 153);
        padding: 0.5em;
        margin-left: 1em;
    }

    /* charts image properties */
    .charts img {
        margin-bottom: 1em;
    }

    .charts span {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    /* keeps graph image and charts in one row */
    .flex-charts {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }

    /* analytics chart image */
    .analytics-chart {
        margin-left: 3em;
        min-width: 90%;
        width: 90%;
    }

    /* social media checklist */
    .form-checkbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3em;
        padding: 2em;
    }

    .checkbox {
        display: flex;
        flex-direction: row;
        padding-left: 1em;
    } 

    .checkbox input[type=checkbox] {
        display:none;
    }
    
    /* empty checkbox */
    .checkbox input[type=checkbox] + label {
        width: 2em;
        background: url(../img/Form_\ Checkbox.png) no-repeat center;
    }

    /* checkmarked box */
    .checkbox input[type=checkbox]:checked + label {
        background: url(../img/Checkmarked.png) no-repeat center;
    }
    
    /* flexbox directions for the analytics divs */
    .analytics-box, .charts {
        display: flex; 
        flex-direction: column;
    }

    .activity, .flex-charts {
        display: flex;
        flex-direction: row;
    }

    /* contacts and customers section */
    .flex-main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid rgb(233, 233, 233);
        padding: 4.5em 2em 3em 2em;
        box-shadow: inset 0 7px 9px -7px rgba(206,206,206,0.45);
    }

    .people-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 15em;
        height: 14em;
        box-shadow: 0px 0px 5px 0px rgba(217,217,217,1);
        border-radius: 0.2em;
    }

    /* grayscale for people boxes and people box image properties */
    .people-box:hover {
        filter: grayscale(100);
    }

    .avatar {
        margin-left: auto;
        margin-right: auto;
        margin-top: -2.5em;
        width: 6em;
    }

    .ribbon {
        color: rgb(255, 255, 255);
        text-align: center;
        display: flex;
        flex-direction: column;
        background: url(../img/blue_ribbon.png) no-repeat center;
        background-size: contain;
        padding: 1em 1em 1em 1em;
        margin-top: -1em;
        margin-left: -1.2em;
        margin-right: -1.2em;
        position: relative;
        overflow: visible;
    }

    /* charts within customers and contacts divs */
    .box-charts {
        height: 6em;
        padding: 0.5em 0.6em 0.5em 0.6em;
    }

    /* did you know section */
    .did-you-know {
        padding: 2em;
    }

    .dyk-layer {
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgb(36, 152, 244);
        border-radius: 0.3em;
    }

    .dyk-text {
        width: auto;
        margin: 2em 8em 2em 2em;
    }

    .dyk-arrow {
        width: 5%;
    }

    .dyk-arrow:hover {
        filter: grayscale(100);
    }

    .dyk-arrow:last-child img {
        text-align: right;
    }

    /* banner with three ads */
    .banner {
        grid-column: 2/11;
        background: rgb(36, 152, 244);
    }

    /* div encasing all three divs */
    #three-ads {
        width: 85%;
        padding-top: 0.5em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }

    /* each of the ad divs */
    .banner-box {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 1em;
        background: rgb(255, 255, 255);
        border-radius: 0.3em;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
    }

    .word-box {
        display: flex;
        flex-direction: column;
        font-size: 1.3em;
        position: absolute;
        width: 95%;
        top: 30%;
        border-radius: 0.2em;
    }

    #green {
        color: rgb(51, 204, 102);
        text-align: right;
    }

    #message {
        text-align: right;
    }

    #orange-img {
        right: 0;
        position: absolute;
        height: 100%;
    }

    #orange {
        color: rgb(254, 127, 19);
        text-align: left;
        padding-left: 5%;
    }

    .green-block { 
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 40%;
        width: 80%;
        padding: 0.5em 1em 0.5em 1em;
        background: rgb(51, 204, 102);
        color: rgb(255, 255, 255);
        border-radius: 0.2em;
    }

    #people {
        width: auto;
        height: auto;
        margin-top: -0.5em;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;
    }

    /* gives space between banner and footer */
    .empty-row {
        grid-column: 1/12;
        /* grid-column: empty; */
    }

    /* footer section */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-column: 1/12;
        /* grid-column: footer; */
        background: rgb(247, 247, 247);
        box-shadow: 2px 0px 12px 2px rgba(217,217,217,1);
        border-top: 2px solid rgba(217,217,217,1);
    }

    .bold {
        font-weight: bolder;
    }

    .footer-text {
        display: flex;
        flex-direction: row;
    }

    .footer-text a {
        color: rgb(153, 153, 153);
    }

    .footer-text span {
        padding-left: 1em;
        padding-right: 1em;
        border-right: 1px solid rgb(221, 221, 221);
    }

    .last-item span {
        border-right: none;
    }

    .footer-notif span {
        margin-left: 1em;
        margin-right: 6em;
    }

    /* notifications section inside footer */
    .footer-notif img {
        margin-right: 1em;
    }

    .footer-notif, .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        border-left: 1px solid rgb(221, 221, 221);
    }

    /* profile section inside footer */
    .profile {
        margin-left: 0.2em;
        margin-right: 0.2em;
        border-right: 1px solid rgb(221, 221, 221);
    }

    .profile img {
        width: 2em;
    }

    .profile div:first-child {
        padding-left: 0.5em;
    }

    .profile div:last-child {
        padding-right: 0.5em;
    }

    /* social media section inside footer */
    .footer-media {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        border-right: 1px solid rgb(221, 221, 221);
    }

    /* more and notifications section that will appear in mobile */
    .footer-more , .footer-notifications {
        display: none;
    }

    @media only screen and (max-width: 600px) {
        html, body {
            overflow-x: hidden;
        }

        .site {
            display: grid;
            grid-template-columns: 100%;
            grid-column-gap: 1em;
            /* blue-heading navbar dashboard announcements side main banner footer */
            grid-template-rows: 5% 15% 15% 30% auto auto auto 6%;
            grid-template-areas: 
            'hd'
            'nv'
            'dash'
            'section'
            'side'
            'main'
            'banner'
            'footer'
        }

        /* get rid of box-shadows in the desktop version */
        .flex-main, .flex-recommendation, .flex-task, .main, .footer {
            box-shadow: none;
        }

        /* blue-heading at the top */
        .header {
            grid-column: hd;
        }

        .heading-items {
            margin-right: 0;
        }

        .heading-items div:last-child {
            padding-right: 0em;
        }

        /* shadows */
        .marker {
            width: 100%;
            height: 15%;
            left: 0;
        }

        #shadows {
            width: 100%;
            left: 0.5em;
            padding-left: 0;
            z-index: 12;
        }

        #white-marker {
            position: absolute;
            bottom: 0;
            left: 6.5%;
        }

        /* navigation bar with icons */
        /* give a little bit of padding to whole nav bar */
        .nav-bar {
            grid-column: nv;
            padding: 1.5em 1em 1em 1em;
        }

        /* make nav icons span whole width of mobile */
        .nav-icons {
            width: 100%;
            margin-top: 0;
        }

        /* dashboard  */
        .dash {
            grid-column: dash;
            margin: 1em;
        }

        /* search bar */
        .search-bar {
            width: 45%;
        }

        /* announcements section (top) */
        .top {
            flex-direction: column;
            grid-column: section;
            margin: 1em 1em 0em 1em;
            border: 1px solid rgb(233, 233, 233);
        }

        .top div:nth-child(2) {
            flex: 2;
        }

        .top div:last-child {
            flex: 4;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 1.5em;
        }

        /* no borders on the announcements section */
        .top div:nth-child(2), .top div:nth-child(3), .top div:last-child {
            border: none;
        }

        /* side bar includes tasks and recommendations */
        .side-bar {
            grid-column: side;
            margin: 0em 1em 0em 1em;
        }

        /* main includes analytics and did you know */
        .main {
            grid-column: main;
            margin: 0em 1em 0em 1em;
        }

        /* make main contents stack on top of each other */
        .flex-main {
            flex-direction: column;
            align-items: center;
            padding-top: 20%;
        }

        .flex-main div:last-child {
            margin-top: 2em;
        }

        .people-box:first-child {
            margin-bottom: 20%;
        }

        /* make analytics stack on top of each other */
        .flex-charts {
            flex-direction: column;
        }

        .activity {
            width: 100%;
        }

        .activity-word {
            margin: 0;
        }

        .analytics-box {
            border-right: none;
            box-shadow: none;
            width: 92%;
            padding: 0;
            margin: 0;
        }

        .analytics-chart {
            margin-left: auto;
            width: 92%;
            min-width: 92%;
        }

        /* analytics charts  */
        .charts {
            flex-direction: row;
            margin-top: 2em;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
        }

        .charts span, .charts img {
            margin-left: 0.5em;
        }

        /* social media checkbox list */
        .form-checkbox {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0em;
            padding: 1em 0em 1em 0em;
        }

        .checkbox {
            padding-left: 0.2em;
            padding-right: 0.2em;
        }

        .checkbox label {
            width: 5em;
        }

        .checkbox img {
            width: 75%;
        }

        .main .blue-heading {
            padding: 0.5em;
        }

        /* did you know section */
        .did-you-know {
            padding: 1em;
        }

        .dyk-layer div span:last-child {
            font-size: 0.8em;
        }

        .dyk-text {
            margin: 2em;
        }

        /* banner with three ads */
        .banner {
            grid-column: banner;
            flex-direction: column;
            margin: 0em 1em 1em 1em;
        }

        /* make the three ads stack on top of each other */
        #three-ads {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            padding-top: 1em;
            padding-bottom: 1em;
        }

        /* each ad within banner will align to middle */
        .banner-box {
            width: 80%;
            height: 9em;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        
        #green {
            font-size: 0.75em;
        }

        #orange {
            font-size: 0.75em;
        }

        #message {
            font-size: 0.5em;
        }

        .people {
            margin-bottom: 0;
        }

        .green-block {
            font-size: 0.8em;
        }

        /* no more empty row */
        .empty-row {
            display: none;
        }

        .footer {
            grid-column: footer;
        }

        /* footer tutorials, blogs, and support will get replaced with more and notifications */
        .footer-text, .footer-notif {
            display: none;
        }

        /* make more and notifications appear */
        .footer-more, .footer-notifications {
            display: flex;
            flex-direction: row;
            align-items: center;
            line-height: 2.5em;
            height: 100%;
            padding: 0em 1em 0em 1em;
            display: block;
        }

        .footer-more {
            border-right: 1px solid rgb(221, 221, 221);
        }

        .footer-media {
            border-right: none;
        }

    }

}